.persons{

	&__container{
		position: fixed;
		top: 0;
		left: 0;
		width: 350px;
		height: 100%;
		background: white;

		overflow: auto;
	}

	&__grid__item{
		position: relative;
		width: 50%;
		padding-top: 70%;
		float: left;

		background-size: cover;
		background-position: center center;

		filter: grayscale(0.9);
		transition: filter 0.2s ease;

		&:nth-child(1n+0){
			background-color: #eee;
		}
		&:nth-child(2n+0){
			background-color: #ddd;
		}
		&:nth-child(3n+0){
			background-color: #ccc;
		}
		&:nth-child(4n+0){
			background-color: #aaa;
		}

		&:hover, &.active{
			filter: grayscale(0);
		}
	}

	&__grid__name{
		position: absolute;
		bottom: 16px;
		width: 100%;
		text-align: center;
		font-family: 'Avenir, helvetica, arial', sans-serif;
		font-size: 11px;
		color: black;
		color: white;
		font-weight: bold;
		padding: 0 16px;
	}

	&__grid__overlay{
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 33%;
		background: linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 100%);
	}

}
