.persons{

	&__container{
		position: fixed;
		top: 0;
		left: 0;
		width: 350px;
		height: 100%;
		background: #562894;

		padding-bottom: 48px;

		overflow: auto;

		@media screen and (max-width: 700px) {
			width: 100%;
		}
	}

	&__grid__item{
		position: relative;
		width: 50%;
		padding-top: 70%;
		float: left;

		background-size: cover;
		background-position: center center;

		filter: grayscale(0.9);
		transition: filter 0.2s ease;

		&:nth-child(1n+0){
			background-color: rgba(0,0,0,0.1);
		}
		&:nth-child(2n+0){
			background-color: rgba(0,0,0,0.2);
		}
		&:nth-child(3n+0){
			background-color: rgba(0,0,0,0.3);
		}
		&:nth-child(4n+0){
			background-color: rgba(0,0,0,0.4);
		}

		&:hover, &.active{
			filter: grayscale(0);
		}

		&--research{

			height: 100px;
			width: 100%;
			padding-top: 0;
			background: none;

			.persons__grid__image{
				position: absolute;
				top: 0;
				left: 0;
				width: 100px;
				height: 100%;
				background-position: center center;
				background-size: cover;
				background-color: rgba(0,0,0,0.5);
			}

			&:nth-child(1n+0){
				background: rgba(0,0,0,0.1);
			}
			&:nth-child(2n+0){
				background: none;
			}
			&:nth-child(3n+0){
				background: rgba(0,0,0,0.1);
			}
			&:nth-child(4n+0){
				background: none;
			}

			.persons__grid__name{
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				text-align: left;
				padding-left: 120px;
			}

		}
	}

	&__grid__name{
		position: absolute;
		bottom: 16px;
		width: 100%;
		text-align: center;
		font-family: 'Avenir, helvetica, arial', sans-serif;
		font-size: 11px;
		color: black;
		color: white;
		font-weight: bold;
		padding: 0 16px;
	}

	&__grid__overlay{
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 33%;
		background: linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 100%);
	}

	&__tabs{
		position: fixed;
		width: 350px;
		height: 48px;
		bottom: 0;
		background: black;

		li{
			position: relative;
			width: 33.33%;
			height: 100%;
			display: inline-block;
			line-height: 48px;
			text-align: center;
		}

		a{
			font-family: 'Avenir, helvetica, arial', sans-serif;
			font-size: 12px;
			color: white;

			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			color: white;
			text-decoration: none;

			&:hover{
				background: #333;
			}
		}

		img{
			vertical-align: middle;
			margin-right: 6px;
		}

		@media screen and (max-width: 700px) {
			width: 100%;
		}

	}

}

.person{

	&__image{
		position: relative;
		width: 100%;
		height: 250px;

		background-position: center center;
		background-size: cover;
	}

	&__close{
		position: absolute;
		top: 16px;
		left: 16px;
		width: 32px;
		height: 32px;
		border-radius: 32px;
		border: 2px solid white;
		text-decoration: none;

		background-color: rgba(0, 0, 0, 0.09);
		background-image: url('../images/back.svg');
		background-size: 70% auto;
		background-position: center center;
		background-repeat: no-repeat;

		box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.15);
	}

	&__name, &__research, &__research__url{
		font-family: 'Avenir, helvetica, arial', sans-serif;
		font-size: 21px;
		font-weight: bold;
		margin-top: 16px;
		margin-bottom: 8px;
		padding: 0;
		padding-left: 16px;
		padding-right: 16px;
		color: white;
	}

	&__research{
		font-size: 14px;
		line-height: 21px;

		span{
			font-weight: normal;
		}
	}

	&__research__url{
		font-size: 12px;
		color: #ccc;
	}

	&__social{
		font-family: 'Avenir, helvetica, arial', sans-serif;
		font-size: 12px;
		font-weight: bold;
		color: white;
		margin-left: 16px;
		margin-bottom: 32px;

		li{
			display: inline-block;
			margin-right: 8px;
		}

		a{
			color: white;
			text-decoration: none;
		}
	}

	&__trip{

		list-style: none;
		padding: 0;
		margin-top: 32px;

		li{
			position: relative;
			font-family: 'Avenir, helvetica, arial', sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: white;
			line-height: 22px;
			padding-bottom: 21px;
			padding-left: 16px;

			&:last-of-type span.line{
				display: none;
			}
		}

		span.circle{
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 8px;
			vertical-align: middle;
			margin-right: 8px;
			background: white;
		}

		span.line{
			display: block;
			height: 14px;
			width: 3px;
			background: white;
			position: absolute;
			top: 26px;
			left: 20px;
		}

		.before{
			opacity: 0.7;
		}

		.after span{

		}

	}

}
